/* Taylor Niemann : bioSite Landing Page */

header {
  color: white;
  padding: 20px;
  text-align: center;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-image: url('images/Design2Crop.png');
}
h1 {
  font-family: verdana, sans-serif;
  font-size: 56px;
  font-weight: bold;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#navbar {
  overflow: hidden;
  background-color: #5B5B5B;
  border-bottom: 15px solid #40ACFF;
  font-size: 20px;
}
#navbar a {
  font-family: Georgia, serif;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#navbar a:hover {
  background-color: #33FFEB;
  color: black;
}
#navbar a.current {
  border: 3px solid #33FFEB;
}
#container {
  width: 50%;
  float: right;
}
figure {
  padding: 5px;
  border: 2px solid #2EC8E8;
  text-align: center;
}
h2 {
  font-family: verdana, sans-serif;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  background-color: #333BFF;
  color: black;
  border: 1px solid #2EC8E8;
  padding: 10px;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h3 {
  font-family: verdana, sans-serif;
  background-color: #40ACFF;
  color: black;
  font-size: 35px;
  border: 1px solid #2EC8E8;
  padding: 10px;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h4 {
  font-family: verdana, sans-serif;
  background-color: #2E67E8;
  color: black;
  font-size: 27px;
  border: 1px solid #2EC8E8;
  padding: 10px;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
ul {
  font-family: Georgia, serif;
  font-size: 20px;
  margin-bottom: 3%;
}
aside {
  width: 50%;
  float: left;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
    font-size: 20px;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1A6778;
    color: white;
    width: 50%;
}
td {
    border: 1px solid #ddd;
    padding: 8px;
}
td.cell {
  font-weight: bold;
  width: 80px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #2E67E8;
  text-decoration: underline;
}
a:visited {
  color: #2E67E8;
  font-style: italic;
  text-decoration: none;
}
p {
  font-family: Georgia, serif;
  font-size: 20px;  
}
footer {
    background-color: #40ACFF;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    font-weight: 400;
    padding-right: 10px;
    left: 0;
}