/* Taylor Niemann : bioSite Hobbies Page */
header {
    color: white;
    padding: 20px;
    text-align: center;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-image: url('images/Design2Crop.png');
}
h1 {
    font-family: verdana, sans-serif;
    font-size: 56px;
    font-weight: bold;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#navbar {
    font-family: Georgia, serif;
    overflow: hidden;
    background-color: #5B5B5B;
    border-bottom: 15px solid #40ACFF;
    font-size: 20px;
}
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navbar a:hover {
    background-color: #33FFEB;
    color: black;
}
#navbar a.current {
    border: 3px solid #33FFEB;
}
h2 {
    font-family: verdana, sans-serif;
    text-align: left;
    font-size: 45px;
    font-weight: 400;
    background-color: #333BFF;
    color: black;
    border: 1px solid #2EC8E8;
    padding: 10px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.image-gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
}
.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
}
h3 {
    font-family: verdana, sans-serif;
    text-align: left;
    font-size: 35px;
    font-weight: 400;    
    background-color: #40ACFF;
    color: black;
    border: 1px solid #2EC8E8;
    padding: 10px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h4 {
    font-family: verdana, sans-serif;
    text-align: left;
    font-size: 27px;
    font-weight: 400;
    color: #2E67E8;
    border: 1px solid #2EC8E8;
    padding: 10px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
p {
    font-family: Georgia, serif;
    font-size: 20px;
}
footer {
    background-color: #40ACFF;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    font-weight: 400;
    padding-right: 10px;
    left: 0;
}